.container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: auto;
    z-index: 1;
  }
.card {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
.card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
  }
.poke-name {
    text-align: center;
    font-weight: 600;
  }
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
.stats p {
    color: #404060;
  }
  
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 